.hero {
  background-image: url(./assets/pictures/reception.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: 50% 76%;
  height: 100vh;
}

.overlay {
  height: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4));
}

.hero-h1 {
  font-size: 36px;
}

.btn-warning {
  background-color: #D89112;;
}

.marriot-booking {
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid #585858;
}

p.small {
  font-size: 1em;
}

.hamburger .line {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin: 6px auto;
}

ul.navbar-custom {
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: -16px;
  margin-right: -16px;
}

ul.navbar-custom li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 700px) {
  .hero {
    background-size: cover;
    height: 100vh;
  }
  .hero-h1 {
    font-size: 56px;
  }
  ul.navbar-custom {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
  }
  
  ul.navbar-custom li{
    border: none;
  }
}