.hero {
  background-image: url(./assets/pictures/reception.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    background-position: 50% 76%;
  height: 100vh;
}

.overlay {
  height: inherit;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4));
}

.hero-h1 {
  font-size: 36px;
}

.hero-text {
  top: 40%;
}

.btn-warning {
  background-color: #D89112;;
}

.marriot-booking {
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid #585858;
}

p.small {
  font-size: 1em;
}

.hamburger .line {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin: 6px auto;
  border-radius: 10px;
}

ul.navbar-custom {
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: -16px;
  margin-right: -16px;
}

ul.navbar-custom li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-toggle {
  background: rgba(15,23,28,0.85);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.bkn {
  font-weight: 500;
  font-size: 1em;
  padding: 0.5em;
}

.ic-jump {
  top: 85% !important;
  color: white !important;
}

@media screen and (min-width: 700px) {
  .hero {
    background-size: cover;
    height: 100vh;
  }
  .hero-text {
    top: 55%;
  }
  .hero-h1 {
    font-size: 56px;
  }
  ul.navbar-custom {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
  }
  
  ul.navbar-custom li{
    border: none;
  }
  .navbar a {
    font-size: 1em;
  }
}